html {
    box-sizing: border-box;
    font-size: 0;
}

.menu {
    font-size: 14px;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 95px;
}

.menu li:last-child {
    margin-right: 0;
}

.nav-class {
    text-align: center;
    padding-top: 95px;
    padding-bottom: 90px;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
}

.content-name {
    font-size: 30px;
    font-family: "PlayfairDisplay";
    color: rgb(98, 98, 98);
    margin: 0;
    margin-bottom: 35px;
}

.list-name {
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
}

.content-text {
    font-size: 11pt;
    color: gray;
    margin: 0;
}

.menu a:hover,
.menu a:focus {
    color: aqua;
}


.container {
    padding: 0;
    margin: 0 auto;
    width: 900px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.container-item {
    width: 420px;
    height: 480px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-right: 60px;
    margin-bottom: 140px;
    display: inline-block;
}


.container-item:nth-child(2n) {
    margin-right: 0;
}

.container-item:nth-child(n+5) {
margin-bottom: 0;
}

.container-button {
    text-align: center;
    font-size: 20px;
    font-family: "PlayfairDisplay";
    
}


.button-download {
    margin: 0 auto;
    min-width: 165px;
    min-height: 60px;
    border: 1px solid rgb(98, 98, 98);
    background-color: white;
    color: rgb(98, 98, 98);
    display: block;
}

.container-item a {
    display: block;
    margin-bottom: 30px;
}

.container-button-down {
    margin-bottom: 55px;
}